In [1]:
import pandas as pd
import os
import re
from sqlalchemy import create_engine
from config import postgreSQL_User, postgreSQL_Pass
rds_connection_string = f"postgresql://{postgreSQL_User}:{postgreSQL_Pass}@localhost:5432/FAOSTAT"
engine = create_engine(rds_connection_string)

In [2]:
engine.table_names()

['emissions_land_total',
 'production_crop',
 'complete_merge_table',
 'population_all',
 'emissions_agriculture_total']

In [3]:
pd.read_sql_query('select * from complete_merge_table', con=engine).head()

,area_code,area,year,population,land_co2,agri_ch4,agri_n2o,agri_co2,production,harvest,yield
0,1,Armenia,1992,3442.81,4.3864,56.4059,4.3444,3168.69,3338350.0,820988.0,3106020.0
1,1,Armenia,1993,3363.10,224.3860,50.2302,3.6882,2752.20,3112610.0,849426.0,2804070.0
2,1,Armenia,1994,3283.66,297.7200,49.5257,3.2735,2544.90,3217760.0,782011.0,2968640.0
3,1,Armenia,1995,3217.34,224.3860,48.8654,3.2319,2511.89,3312280.0,705936.0,3168420.0
4,1,Armenia,1996,3168.22,293.8000,48.8143,3.2998,2543.06,3552450.0,809623.0,3242870.0

In [4]:
total_df = pd.read_sql_query('select * from complete_merge_table', con=engine)
total_df.to_json("../JSON/total.json", orient="records")
total_df.to_csv("../CSV/total.csv", index=False, encoding="latin-1", )
print("success")

success